.App {
  width: 400px;
  height: 400px;
  text-align: center;
  position: relative;
  border: 1px solid blue;
  border-radius: 10px;
   
}
  .cell{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    border-radius: 10px;
    position: absolute;
    font-size: 50px;
    transition: all 0.3;
    cursor: pointer;
  }
  img{ 
    width: 100%;
    background-size: cover;
    border-radius: 10px;
  }
 